/* Reset CSS to overwrite specific browser defaults */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i");
@import url("https://fonts.googleapis.com/css?family=Lato");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

/* Accents */
/* neutrals */
.font-playfair, .headline1, .headline2, .postItContainer .postItLeft .flag, .postItContainer .postItCenter .flag, .postItContainer .postItRight .flag {
  font-family: "Playfair Display", serif; }

.font-lato, .subtitle, body, .caption, .hero button, .postItContainer .postItLeft .author, .postItContainer .postItCenter .author, .postItContainer .postItRight .author, footer button, nav a {
  font-family: "Lato", sans-serif; }

.headline1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.02em; }

.subtitle {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.01em; }

.headline2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.01em; }

body {
  line-height: 20px;
  letter-spacing: 0.01em; }

.caption, .hero button, .postItContainer .postItLeft .author, .postItContainer .postItCenter .author, .postItContainer .postItRight .author, footer button {
  line-height: 16px;
  letter-spacing: 0.16em; }

nav a {
  color: #597dff;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0.01em;
  text-decoration: none; }

html {
  background-color: #FFFFFF; }

body {
  margin: 0 auto 0 auto;
  width: 80em; }

header {
  width: 1024px;
  vertical-align: bottom;
  margin: 0 auto 0 auto;
  background-color: #1f2d73;
  height: 4em; }
  header .logo {
    width: 6.25em;
    height: 1.5em;
    margin-top: 1.25em;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
    display: inline-block; }
  header nav {
    text-align: left;
    float: right;
    line-height: 4em; }
    header nav a {
      margin: 0 0.75em 0 0.75em; }

article {
  position: relative;
  background: #f4f5f5; }

.hero {
  position: absolute;
  z-index: -1;
  top: -2em;
  width: 1280px;
  background-image: url("../assets/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56.5em; }
  .hero .heroTextBlock {
    margin: 0 auto 0 auto;
    width: 32.5em;
    text-align: center;
    color: #FFFFFF; }
  .hero .dia-line {
    margin: 0 auto 0 auto;
    width: 28px;
    border-bottom: 2px solid #FA8070;
    -webkit-transform: rotate(-45deg);
    margin-bottom: 2em; }
  .hero .subtitle {
    color: rgba(255, 255, 255, 0.6); }
  .hero button {
    margin: 0 auto 0 auto;
    display: flex;
    color: #FFFFFF;
    background-color: #FA8070;
    border: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: -webkit-baseline-middle;
    line-height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0 1.625em 0 2em;
    border: 2px solid #FA8070;
    font-size: 0.9375em;
    font-weight: bold;
    margin-top: 4em; }
    .hero button svg {
      width: 15px;
      height: 36px;
      border-left: 1px solid rgba(255, 182, 140, 0.5);
      margin-left: 1em;
      padding-left: 1em; }

.postIt, .postItContainer .postItLeft, .postItContainer .postItCenter, .postItContainer .postItRight {
  width: 320px;
  vertical-align: bottom;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  margin-top: -60px; }

.postItContainer {
  width: 1024px;
  vertical-align: bottom;
  margin: 0 auto 0 auto;
  margin-top: 53.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  .postItContainer .postItLeft .flag {
    width: 56px;
    vertical-align: bottom;
    margin: 0 auto 0 auto;
    display: flex;
    color: rgba(255, 182, 140, 0.8);
    text-align: center;
    margin-bottom: -em(3px);
    font-size: 10em;
    font-weight: bold;
    z-index: 3; }
  .postItContainer .postItLeft .backgroundWrapper {
    width: 320px;
    vertical-align: bottom;
    height: 25em;
    color: #FFFFFF;
    display: block;
    position: relative;
    margin-top: -1.5em;
    background: -webkit-linear-gradient(-45deg, #FA8070 0%, #ffb68c 100%); }
    .postItContainer .postItLeft .backgroundWrapper:after {
      content: "";
      background-image: url("../assets/pattern.svg");
      -webkit-mask-image: url("../assets/pattern.svg");
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
  .postItContainer .postItLeft .textContent {
    margin: 0 auto 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 11.5625em;
    height: 12.5em;
    font-style: italic; }
  .postItContainer .postItLeft .author {
    color: #FFFFFF;
    line-height: 3.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9375em;
    font-weight: bold; }
  .postItContainer .postItLeft .dia-line {
    margin: 0 auto 0 auto;
    width: 16px;
    border-bottom: 2px solid #FFFFFF;
    -webkit-transform: rotate(-45deg);
    margin-top: 5em; }
  .postItContainer .postItCenter .flag {
    width: 56px;
    vertical-align: bottom;
    margin: 0 auto 0 auto;
    display: flex;
    color: rgba(250, 128, 112, 0.8);
    text-align: center;
    margin-bottom: -em(3px);
    font-size: 10em;
    font-weight: bold;
    z-index: 3; }
  .postItContainer .postItCenter .backgroundWrapper {
    width: 320px;
    vertical-align: bottom;
    height: 25em;
    color: #000000;
    display: block;
    position: relative;
    margin-top: -1.5em;
    background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #FFFFFF 100%); }
    .postItContainer .postItCenter .backgroundWrapper:after {
      content: "";
      background-image: url("../assets/pattern.svg");
      -webkit-mask-image: url("../assets/pattern.svg");
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
  .postItContainer .postItCenter .textContent {
    margin: 0 auto 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 11.5625em;
    height: 12.5em;
    font-style: italic; }
  .postItContainer .postItCenter .author {
    color: #000000;
    line-height: 3.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9375em;
    font-weight: bold; }
  .postItContainer .postItCenter .dia-line {
    margin: 0 auto 0 auto;
    width: 16px;
    border-bottom: 2px solid #FA8070;
    -webkit-transform: rotate(-45deg);
    margin-top: 5em; }
  .postItContainer .postItRight .flag {
    width: 56px;
    vertical-align: bottom;
    margin: 0 auto 0 auto;
    display: flex;
    color: rgba(89, 125, 255, 0.5);
    text-align: center;
    margin-bottom: -em(3px);
    font-size: 10em;
    font-weight: bold;
    z-index: 3; }
  .postItContainer .postItRight .backgroundWrapper {
    width: 320px;
    vertical-align: bottom;
    height: 25em;
    color: #FFFFFF;
    display: block;
    position: relative;
    margin-top: -1.5em;
    background: -webkit-linear-gradient(-45deg, #1f2d73 0%, #3956BF 100%); }
    .postItContainer .postItRight .backgroundWrapper:after {
      content: "";
      background-image: url("../assets/pattern.svg");
      -webkit-mask-image: url("../assets/pattern.svg");
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
  .postItContainer .postItRight .textContent {
    margin: 0 auto 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 11.5625em;
    height: 12.5em;
    font-style: italic; }
  .postItContainer .postItRight .author {
    color: #FFFFFF;
    line-height: 3.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9375em;
    font-weight: bold; }
  .postItContainer .postItRight .dia-line {
    margin: 0 auto 0 auto;
    width: 16px;
    border-bottom: 2px solid #597dff;
    -webkit-transform: rotate(-45deg);
    margin-top: 5em; }

footer {
  background-color: #f4f5f5;
  padding: 5em; }
  footer button {
    margin: 0 auto 0 auto;
    display: flex;
    color: #3956BF;
    background-color: #FFFFFF;
    border: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: -webkit-baseline-middle;
    line-height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0 1.625em 0 2em;
    border: 2px solid rgba(57, 86, 191, 0.4);
    font-size: 0.9375em;
    font-weight: bold; }
    footer button svg {
      width: 15px;
      height: 36px;
      border-left: 1px solid rgba(57, 86, 191, 0.2);
      margin-left: 1em;
      padding-left: 1em; }

/*# sourceMappingURL=layout.css.map */
